.menu-container {
    padding: 0 30px;
}

.card-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    grid-gap: 20px; /* Gap between the cards */
}

.card-image {
    height: 300px;
}
